<!-- components/sidebar/sidebar.component.html -->
<nav class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <div class="logo" *ngIf="!isCollapsed">
      <i class="fas fa-boxes logo-icon"></i>
      <span class="logo-text">Digital Logistics</span>
    </div>
    <div class="logo-collapsed" *ngIf="isCollapsed">
      <i class="fas fa-boxes"></i>
    </div>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas" [class.fa-chevron-right]="isCollapsed" [class.fa-chevron-left]="!isCollapsed"></i>
    </button>
  </div>

  <div class="sidebar-menu">
    <ul class="menu-list">
      <li *ngFor="let item of menuItems"
          [class.active]="isActive(item.path)"
          [class.has-submenu]="item.submenu"
          [class.submenu-open]="item.isOpen">

        <a *ngIf="!item.submenu"
           [routerLink]="item.path"
           routerLinkActive="active-link"
           class="menu-item">
          <i [class]="item.icon" class="menu-icon"></i>
          <span class="menu-title" *ngIf="!isCollapsed">{{ item.title }}</span>
        </a>



        <div *ngIf="item.submenu" class="menu-item with-submenu" (click)="toggleSubmenu(item)">
          <div class="menu-item-content">
            <i [class]="item.icon" class="menu-icon"></i>
            <span class="menu-title" *ngIf="!isCollapsed">{{ item.title }}</span>
            <i class="fas submenu-arrow" *ngIf="!isCollapsed"
               [class.fa-chevron-down]="item.isOpen"
               [class.fa-chevron-right]="!item.isOpen"></i>
          </div>
        </div>

        <ul *ngIf="item.submenu && item.isOpen && !isCollapsed" class="submenu">
          <li *ngFor="let subItem of item.submenu"
              [class.active]="isActive(subItem.path)">
            <a [routerLink]="subItem.path"
               routerLinkActive="active-link"
               class="submenu-item">
              <i [class]="subItem.icon" class="submenu-icon"></i>
              <span class="submenu-title">{{ subItem.title }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="sidebar-footer" *ngIf="!isCollapsed">
    <div class="user-info">
      <div class="user-avatar"> {{ getUserInitials() }}</div>
      <div class="user-details">
        <p class="user-name">{{ getDisplayName() }}</p>
        <p class="user-role">{{ getRoleDisplay() }}</p>
      </div>
    </div>
  </div>
</nav>
